<div id="home_screen">
  <%= image_tag 'top-screen.jpg' %> スライドを共有するサービス
</div>
<div class="container">
  <h2>進行中のイベント</h2>
  <% @events.each do |event| %>
    <%= render partial: "partial/event_slides_catch", locals: { event: event } %>
  <% end %>
</div>