<header>
  <div class="logo">
    <%= link_to root_url do %>
    <%= image_tag 'logo.svg' %>
    <% end %>
  </div>
  <div class="menu-container">
    <form action="" method="get">
      <input type="text" name="" id="" />
    </form>
    <ul>
      <li>top</li>
      <li>help</li>
      <% if logged_in? %>
      <li>settings</li>
      <li><%= link_to 'logout', logout_path %></li>
      <% else %>
      <li><%= link_to 'login', signup_path %></li>
      <li>signup</li>
      <% end %>
    </ul>
  </div>
</header>