<% provide(:title, 'Sign up') %>
<div class="signup">
  <div id="signup-container">
    <%= image_tag 'logo.svg' %>
    <h1>Signup</h1>
    <button><%= link_to 'Twitter Login', '/auth/twitter' %></button>
  </div>
</div>