<footer>
  <div class="copyritht">
    <span> copyright magcho</span>
  </div>
  <div class="links">
    <ul>
      <li>top</li>
      <li>help</li>
      <li>privacy poricy</li>
      <li>github</li>
    </ul>
  </div>
</footer>
