<header>
  <div class="logo">
    <%= image_tag 'logo.svg' %>
  </div>
  <div class="menu-container">
    <form action="" method="get">
      <input type="text" name="" id="" />
    </form>
    <ul>
      <li>top</li>
      <li>help</li>
      <li>login</li>
      <li>signup</li>
    </ul>
  </div>
</header>
