// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "pure-min.css";
@import "partial/slide";

#event-container{
  margin-top: 4rem;
  #cover-img{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    display: flex;
    img{
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;
      align-self: center;
    }
  }
  #infomation{
    // padding-left: .5rem;
    padding: 0.5rem;
    i{
      margin-left: 0.5rem;
    }
  }
  #title{
    margin-bottom: 0;
  }
  #hashtag{
    #services{
      display: flex;
    }
    ul{
      margin: 0;
      padding: 0;
      width: fit-content;
      display: inline-flex;
      li{
        list-style: none;
        padding-right: .7rem;
      }
    }
  }
}

#event-slides{
  width: 100%;
  flex-wrap: wrap;
  article{
    width: calc(100% / 3 - 1rem);
    margin: 0.5rem;
  }
}



#new-container{
  background-color: #ccc;
  width: 100vw;
  min-height: calc(100vh - 6rem);
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  #new-area{
    box-shadow: 0  0  20px #777;
    padding: 3rem;
    margin: auto;
    background-color: white;
    max-width: 70%;
    // width: fit-content;
    // position: relative;
    h1{
      width: 100%;
      text-align: center;
    }
    form{
      fieldset{
        border: none;
        position: relative;
        width: 100%;
      }
      label{
        color: #333;
      }
      input{
        margin-bottom: 1rem;
      }
      .date-input-container{
        padding-right: 1rem;
      }
      .date-input-flex{
        flex-grow: 1;
        &:before{
          content: '@';
        }
      }
      .time-inputs{
        display: flex;
        flex-shrink: 0;
        color: white
      }
      .required-item-label{
        display: inline;
      }
      span.required{
        color: #d00;
        font-size: .8em;
      }
      .has-description{
        display: inline;
      }
      span.description{
        color: #777;
        font-size: .8em;
      }
      #button-area{
        margin-top: 1rem;
        text-align: right;
      }
      #slide-description{
        min-height: 8rem;
      }
      #event-clickable{
        width: 100%;
        &.show{
          .please-mess{
            display: none;
          }
          .uploaded-mess{
            display: block;
          }
          #uploader-preview{
            display: block;
          }
        }
      }
      .file-upload-container{
        width: 100%;
        min-width: 50vw;
        border-radius: 4px;
        border: 2px #bbb dashed;
        // padding: 3rem;
        margin-bottom: 1rem;
        &:hover{
          background-color: #eee;
        }
        #uploader-preview, #uploader-edit-preview{
          // max-height: 400px;
          // overflow: hidden;
          // max-width: 100%;
          width: 100%;
          margin: auto;
          display: none;
          &:hover{
            filter: grayscale(50%);
          }
          &#uploader-edit-preview{
            display: block;
          }
        }
        #insert-text{
          margin: auto;
          text-align: center;
          // margin: 0 auto;
          height: fit-content;
          position: relative;
          
          div{
            z-index: 1;
          }
          i{
            font-size: 2rem;
            margin: 1rem;
          }
        }
      }
    }
  }
}