// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
  height: 3rem;
  position: fixed;
  display: flex;
  background-color: white;
  top: 0;
  left: 0;

  ul {
    display: flex;

    li {
      list-style: none;
    }
  }
}
#home_screen {
  margin-top: 3rem;
  width: 100vw;
  img {
    width: 100%;
  }
}
.container {
  position: inherit;
  max-width: 1140px;
  margin: 0 auto;
  .event {
    width: 100%;
    margin-bottom: 2rem;
    h3 {
      margin: 0;
    }
    .slides {
      display: flex;
      overflow-x: scroll;
      article {
        box-shadow: 0 0 5px #aaa;
        width: 30%;
        margin: 0.5rem;
        flex-shrink: 0;
        img {
          flex-shrink: 0;
          margin: 0 auto;
          width: 100%;
          margin: 0;
        }
        .slide-info {
          display: flex;
          padding-left: 0.3rem;
          padding-bottom: 0.3rem;
          img {
            height: 2rem;
            width: 2rem;
            border-radius: 100%;
          }
          .username {
            line-height: 2rem;
            height: 2rem;
            display: block;
            margin-left: 0.4rem;
          }
        }
      }
    }
    .more {
      float: right;
    }
  }
}
