// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users-container {
  padding-top: 4rem;
  display: flex;
  justify-content: end;
}
.user-info {
  width: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
  }
  h2{
    margin: 0;
  }
}
#user-slides{
  flex-wrap: wrap;
}

.signup{
  background-color: #ccc;
  width: 100vw;
  height: 100vh;
  margin-top: 3rem;
  #signup-container{
    box-shadow: 0  0  20px #777;
    width: 20rem;
    padding: 3rem;
    margin: auto;
    background-color: white;
    img{
      margin-bottom: 2rem;
    }
    h1{
      margin-top: 0;
    }
  }
}
