<div class="comment">
  <div class="comment-icon" style="background-image: url(<%= comment.user.icon_path %>);"></div>
  <p class="comment-text">
    <span class="comment-time"><%= datetime_to_time(comment.created_at) %></span>
    <%= comment.text %>
  </p>
</div>