
.slides {
  display: flex;
  overflow-x: scroll;
  article{
    display: block;
    box-shadow: 0 0 5px #aaa;
    width: 30%;
    margin: 0.5rem;
    flex-shrink: 0;
    border-radius: 3px;
    text-decoration: none;
    flex-wrap: 0;
    flex-shrink: 0;
    .thumbnail {
      // 9/16 = 56.25%
      padding-top: 56.25%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      flex-shrink: 0;
      margin: 0 auto;
      width: 100%;
      margin: 0;
      border-radius: 3px 3px 0 0 ;
    }
    .slide-info {
      display: flex;
      padding-left: 0.3rem;
      padding-bottom: 0.3rem;
      a{
        img {
          height: 2rem;
          width: 2rem;
          border-radius: 100%;
        }
        .username {
          line-height: 2rem;
          height: 2rem;
          display: block;
          margin-left: 0.4rem;
          color: balck;
        }
      }
    }
  }
}